{% extends 'layout.html.twig' %}

{% block content %}

	<table>
		<thead>
			<tr>
				{% for colum in columnas %}
					<th>{{ colum }}</th>
				{% endfor %}
			</tr>
		</thead>

		<tbody>
			{% for regi in registros %}
			{#
				<tr>
					
					<td>{{ regi.id_producto }}</td>
					<td>{{ regi.codigo_barras }}</td>
					<td>{{ regi.cantidad }}</td>
					<td>{{ regi.opciones | raw }}</td>
				</tr>
			 #}
				<tr>
					{% for colum in columnas %}
						<td>{{ regi[colum] | raw }}</td>
					{% endfor %}
				</tr>
				
			{% else %}
				<p>No hay registros</p>
			{% endfor %}
		</tbody>
	</table>

	<div>
		<a href="/rest/{{ rested }}/new"><button type="button">Crear</button></a>
	</div>
{% endblock %}