<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
		<p>El título es {{ title }}</p>

		<table>
			<thead>
				<tr>
					{% for colum in columnas %}
						<th>{{ colum }}</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for regi in registros %}
					<tr>
						<td>{{ regi.id_producto }}</td>
						<td>{{ regi.codigo_barras }}</td>
						<td>{{ regi.cantidad }}</td>
					</tr>
				{% else %}
					<p>No hay registros</p>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>